*, *::before, *::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, input {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  margin: .4em 0 1em;
  font-size: 1.8em;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

.regular-title {
  font-weight: 600;
  font-size: 1.5em;
}

.order {
  text-align: center;
  margin-bottom: 2em;
}

.order .order-btn {
  display: inline-block;
  margin: 1em 0;
  padding: 1em 3em;
  border-radius: 30px;
  color: white;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.order .order-btn:hover {
  background: linear-gradient(175deg, #ff93e1 0%, #a674e2 100%);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.6);
}

.header__logo {
  padding: 1em 0 0.4em;
  position: relative;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  -webkit-animation: header 0ms 2100ms forwards;
          animation: header 0ms 2100ms forwards;
}

.header__logo img {
  max-width: 150px;
}

.header__logo i {
  position: absolute;
  font-size: 1.3rem;
  left: 1em;
  top: .9em;
  color: #333333;
}

@-webkit-keyframes header {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}

@keyframes header {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}

footer {
  background-color: #333333;
  color: white;
}

@media screen and (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

footer p {
  font-size: 1.3em;
  padding: 1em;
  font-family: "Shrikhand";
}

footer ul {
  padding: 0 1em 1em;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
    gap: 20px;
  }
}

footer ul li {
  line-height: 20px;
  margin-bottom: .5em;
}

footer li a {
  color: white;
}

footer li a:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  background-clip: text;
  -webkit-background-clip: text;
}

footer i {
  color: white;
  width: 13px;
  height: auto;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 4px;
}

footer i.fa-handshake {
  -webkit-transform: rotate(-45deg) scale(0.6, 0.7);
          transform: rotate(-45deg) scale(0.6, 0.7);
}

.restaurant-bg img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-content {
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  margin-top: -30px;
  position: relative;
  background-color: #f4f4f5;
}

@media screen and (min-width: 425px) {
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-content section {
  margin-bottom: 3em;
}

.main-content__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 425px) {
  .main-content__restaurant h1 {
    margin-right: 2em;
  }
}

.box__card__text__icons {
  position: relative;
  cursor: pointer;
}

.box__card__text__icons i {
  -webkit-transition: opacity 300ms, -webkit-transform 600ms;
  transition: opacity 300ms, -webkit-transform 600ms;
  transition: opacity 300ms, transform 600ms;
  transition: opacity 300ms, transform 600ms, -webkit-transform 600ms;
  font-size: 28px;
  width: 101%;
}

.box__card__text__icons i.visible {
  position: absolute;
}

.box__card__text__icons i.hidden {
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box__card__text__icons:hover .hidden {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.box__card__text__icons:hover .visible {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 990px) {
  .course-wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .course-wrapper {
    width: initial;
    gap: 80px;
  }
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.course h2 {
  position: relative;
  margin-bottom: 1.4em;
}

.course h2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  bottom: -35%;
  left: 0;
}

.box__meal {
  background: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  max-width: 400px;
  height: 70px;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

.box__meal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.box__meal__content__text {
  overflow: hidden;
  padding: .5em;
}

.box__meal__content__text h3 {
  margin-bottom: .3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.box__meal__content__text p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.box__meal__content__price {
  padding: .5em;
  margin-right: 10px;
  font-weight: 600;
}

.box__meal__check {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-box-flex 300ms ease-out;
  transition: -webkit-box-flex 300ms ease-out;
  transition: flex 300ms ease-out;
  transition: flex 300ms ease-out, -webkit-box-flex 300ms ease-out, -ms-flex 300ms ease-out;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.box__meal__check i {
  color: white;
  -webkit-transform: translateX(3em);
          transform: translateX(3em);
  -webkit-transition: translate 300ms linear;
  transition: translate 300ms linear;
  font-size: 1.3em;
}

.box__meal:hover .box__meal__check {
  width: initial;
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.box__meal:hover .box__meal__check i {
  -webkit-animation: turnaround 400ms ease-in-out 1 forwards;
          animation: turnaround 400ms ease-in-out 1 forwards;
}

.main-content .entrees {
  -webkit-animation: apparition 1000ms ease-in-out 0ms 1 both;
          animation: apparition 1000ms ease-in-out 0ms 1 both;
}

.main-content .plats {
  -webkit-animation: apparition 1000ms ease-in-out 500ms 1 both;
          animation: apparition 1000ms ease-in-out 500ms 1 both;
}

.main-content .desserts {
  -webkit-animation: apparition 1000ms ease-in-out 1000ms 1 both;
          animation: apparition 1000ms ease-in-out 1000ms 1 both;
}

@-webkit-keyframes turnaround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turnaround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.container {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 9;
  -webkit-animation: container 3000ms forwards;
          animation: container 3000ms forwards;
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.load__bar {
  background-color: #9356DC;
  width: 3vh;
  -webkit-animation: bars 1000ms backwards infinite ease-in-out alternate;
          animation: bars 1000ms backwards infinite ease-in-out alternate;
}

.load__bar--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.load__bar--1--inv {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  animation-direction: alternate-reverse;
  background-color: #FF79DA;
}

.load__bar--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.load__bar--2--inv {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  animation-direction: alternate-reverse;
  background-color: #FF79DA;
}

.load__bar--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.load__bar--3--inv {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  animation-direction: alternate-reverse;
  background-color: #FF79DA;
}

.load__bar--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.load__bar--4--inv {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  animation-direction: alternate-reverse;
  background-color: #FF79DA;
}

.load__bar--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.load__bar--5--inv {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  animation-direction: alternate-reverse;
  background-color: #FF79DA;
}

@-webkit-keyframes bars {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bars {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes container {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes container {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

.top__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #e4e4e7;
}

.top__input__city {
  border: none;
  font-size: 1em;
  font-weight: 500;
  padding: 1em 0;
  background-color: #e4e4e7;
  width: 110px;
  text-overflow: ellipsis;
}

.top__input i {
  margin-right: 1em;
}

.top__content {
  padding: 2em;
  text-align: center;
  background-color: #f4f4f5;
}

.top__content__big-title {
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
}

.top__content__text {
  text-align: center;
  margin: 1em 0;
}

.top__content__button {
  display: inline-block;
  margin: 1em 0;
  padding: 1em;
  border-radius: 30px;
  color: white;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

.top__content__button:hover {
  background: linear-gradient(175deg, #ff93e1 0%, #a674e2 100%);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.6);
}

.process, .restaurant-wrapper {
  margin: 2em 1em 0;
}

.bullet-list {
  margin-top: 2em;
}

@media screen and (min-width: 768px) {
  .bullet-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1440px) {
  .bullet-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }
}

.bullet-list__content {
  background-color: #f4f4f5;
  padding: 1em 2em;
  border-radius: 30px;
  height: 50px;
  margin: 0 0 1.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 1.1em;
  font-weight: 500;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .bullet-list__content {
    width: 25%;
    max-width: 300px;
  }
}

.bullet-list__content:hover {
  color: #9356DC;
}

.bullet-list__content:hover i {
  color: #9356DC;
}

.bullet-list__content i {
  font-size: 1.2em;
  width: 20px;
  margin-right: 1em;
  color: #333333;
}

.bullet-list__content .numbers {
  content: '';
  position: absolute;
  color: white;
  left: 0;
  background-color: #9356DC;
  padding: .1em .4em;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.restaurants {
  background-color: #f4f4f5;
}

.restaurant-wrapper {
  padding: 3em 0;
}

.restaurant-wrapper .regular-title {
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .box__card--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.box__card {
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px #0000007a;
          box-shadow: 0px 2px 5px 0px #0000007a;
  margin-bottom: 1.3em;
}

@media screen and (min-width: 768px) {
  .box__card {
    width: 46%;
  }
}

.box__card:hover {
  -webkit-box-shadow: 0px 2px 10px 1px black;
          box-shadow: 0px 2px 10px 1px black;
}

.box__card__img {
  position: relative;
}

.box__card__img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.box__card .new::after {
  content: "Nouveau";
  position: absolute;
  right: 5%;
  top: 10%;
  padding: .3em .5em;
  color: #1b6150;
  font-weight: 600;
  background: #99E2D0;
}

.box__card__text {
  padding: .8em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__card__text h3 {
  margin-bottom: .3em;
}
/*# sourceMappingURL=main.css.map */