@mixin heart-bg {
    background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin apparition ($delay) {
    animation: apparition 1000ms ease-in-out $delay 1 both;
}

@mixin tablet-view {
    @media screen and (min-width: map-get($map: $breakpoints, $key: tablet)) {
        @content;
    }
}

@mixin desktop-view {
    @media screen and (min-width: map-get($map: $breakpoints, $key: desktop)) {
        @content;
    }
}

@mixin large-mobile-view {
    @media screen and (min-width: map-get($map: $breakpoints, $key: large-mobile)) {
        @content;
    }
}