footer {
    background-color: $grey-color;
    color: white;

    @include tablet-view {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    p {
        font-size: 1.3em;
        padding: 1em;
        font-family: "Shrikhand";
    }

    ul {
        padding: 0 1em 1em;
        list-style-type: none;
        @include tablet-view {
            display: flex;
            justify-content: space-evenly;
            width: 50%;
            gap: 20px;
        }

        li {
            line-height: 20px;
            margin-bottom: .5em;
            }
        }
    
    & li a {
        color: white;
        
        &:hover {
            text-decoration: underline white;
            // background: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%);
            background-clip: text;
            -webkit-background-clip: text;
            // color: transparent;
        }
    }
    
    i {
        color: white;
        width: 13px;
        height: auto;
        transform: scale(.8);
        margin-right: 4px;

        &.fa-handshake {
            transform: rotate(-45deg) scale(.6, .7);
        }
    }
}
