.header__logo {
    padding: 1em 0 0.4em;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    text-align: center;

    img {
        max-width: 150px;
    }

    i {
        position: absolute;
        font-size: 1.3rem;
        left: 1em;
        top: .9em;
        color: $grey-color;
    }
}