.restaurant-bg {
    
    img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
    }
}

.main-content {
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    margin-top: -30px;
    position: relative;
    background-color: $top-content-bg;

    &__restaurant {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

// Animation des coeur qui se remplit au survol

    .box__card__text {
        &__icons {
            position: relative;
            cursor: pointer;
        }

        &__icons i {
            transition: opacity 300ms, transform 600ms;
            font-size: 22px;
        }

        &__icons i.visible {
            position: absolute;
            z-index: 2;
        }

        &__icons i.hidden {
            position: relative;
            transform: scale(0);
            opacity: 0;
            @include heart-bg();
            transform-origin: 56%;
        }
        
        &__icons i.visible:hover + .hidden {
            transform: scale(1);
            opacity: 1;
            width: 101%;
        }

        &__icons i.visible:hover {
            @include heart-bg();
        }
    }

.entrees {
    h2 {
        position: relative;
        margin-bottom: 1.4em;

        &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;
            bottom: -35%;
            left: 0;
        }
    }
}


.box__meal {
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    max-width: 400px;
    margin-bottom: 2em;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);


    &__content {
        display: flex;
        align-items: flex-end;
        flex: 1;
        overflow: hidden;

        &__text {
            overflow: hidden;
            padding: .5em;

            h3 {
                margin-bottom: .3em;
            }

            & p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        &__price {
            padding: .5em;
        }
    }

    &__check {
        width: 0;
        background-color: #99E2D0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        transition: flex 300ms ease-out;

        i {
            color: white;
            transform: translateX(10px);
            transition: translate 300ms linear;
        }
    }

    &:hover {
        .box__meal__check {
            width: initial;
            flex: .3;

            & i {
                animation: turnaround 400ms ease-in-out 1 forwards;
                transform: translateX(0);
            }
        }
    }
}

// Animation de l'icone check qui tourne sur elle-même

@keyframes turnaround {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}